<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{layouts/default}">
<head>
<title>Learn principal page</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-sm" id="contenido">

			<div id="accordion" th:fragment="accordionFragment">

				<div class="card text-white bg-dark mb-3"
					style="max-width: 100%; margin-top: 1px">
					<div class="card-header">
						<div id="cantidad">
							Frases en total <span class="badge badge-danger"
								th:text="${fraseTotal}"></span>
						</div>
					</div>
					<div class="card-body">
						<div class="overflow-auto" style="height: 75px">
							<form class="was-validated">
								<div class="custom-control custom-checkbox mb-3">
									<input type="checkbox" class="custom-control-input"
										id="perCheck" th:checked="${checked}" required value="PERSONALIZADO"> <label
										class="custom-control-label" for="perCheck">En
										pr&aacute;cticas personalizadas</label>
								</div>
								<div th:each="cc,iter : ${categoriasCheck}"
									class="custom-control custom-checkbox mb-3">
									<input type="checkbox" class="custom-control-input"
										th:id="'cc_'+${iter.index}" th:value="${cc.categoria.id}" th:checked="${cc.checked}" required> <label
										class="custom-control-label" th:for="'cc_'+${iter.index}"
										th:text="${cc.categoria.categoria}"></label>
								</div>
							</form>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" id="buscarTxt"
								placeholder="Ingrese frase a buscar" th:value="${buscando}">
						</div>
						<div class="form-group" style="text-align: center;">
							<button type="button" class="btn btn-light" id="buscarBtn"
								onclick="frasesListJs.buscar()">Buscar</button>
						</div>
					</div>
				</div>

				<div class="card" th:each="f,iter : ${frasesListLazyInit}"
					style="display: none">
					<div th:each="t,iter : ${f.traduccionesList}">
						<p th:text="${t.traduccion}" style="margin: 0"></p>
					</div>
				</div>
<!-- 				<div class="overflow-auto" style="height: 390px"> -->
				<div class="card text-center" th:each="f,iter : ${frasesList}"
					style="margin-top: 10px;">
					<div class="card-header">
						<div class="row">
							<div class="col-6 col-md-4">
								<div style="text-align: left">
									<span class="badge badge-success"
										th:text="${f.idCategorias.categoria}"></span>
								</div>
								<div style="text-align: left">
									<span class="badge badge-dark"
										th:text="${'#'+(fraseTotal-iter.index)}"></span>
								</div>
							</div>
							<div class="col-6 col-md-4">&nbsp;</div>
							<div class="col-6 col-md-4">&nbsp;</div>
						</div>

						<span th:text="${f.frase}"
							style="font-weight: bold; font-size: 33px;"></span>
					</div>
					<div class="card-body">
						<h5 class="card-title">
							<span id="pronunciacionT" style="font-size: 15px; display: block"
								th:text="${f.pronunciacion} != null ? ' ('+${f.pronunciacion}+')' : ''"></span>
						</h5>
						<div class="card-text">
							<div id="traduccionesList" style="margin: 0px; display: block">
								<div th:each="t,iter : ${f.traduccionesList}">
									<span th:text="${t.traduccion}"
										style="margin: 0; font-size: 20px"></span>
								</div>
							</div>

						</div>

						<hr />
						<button type="button" th:if="${f.estado} != 'PERSONALIZADO'"
							th:onclick="'frasesListJs.perzonalizado('+${f.id}+',1)'"
							class="btn btn-info">Agregar a pr&aacute;cticas</button>

						<span th:if="${f.estado} == 'PERSONALIZADO'"
							th:text="${f.ordenPersonal}" class="badge badge-secondary"></span>
						<button th:if="${f.estado} == 'PERSONALIZADO'" type="button"
							class="btn btn-success"
							th:onclick="'frasesListJs.perzonalizado('+${f.id}+',0)'">Quitar
							de pr&aacute;cticas</button>
					</div>

					<div class="card-footer text-muted">
						<div id="contenedorBtns" style="display: block">

							<button type="button" class="btn btn-secondary"
								data-toggle="modal" th:data-target="${'#updateModal_'+f.id}">Actualizar</button>

							<button type="button" class="btn btn-danger" data-toggle="modal"
								th:data-target="${'#confirmacionModal_'+f.id}">Eliminar</button>
						</div>
						<!-- Modal confirmacion-->
						<div class="modal fade" th:id="${'confirmacionModal_'+f.id}"
							tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
							aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="exampleModalLabel">Confirmaci&oacute;n</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">Se eliminar&aacute; el registro</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Cancelar</button>
										<button type="button" class="btn btn-primary"
											th:onclick="'frasesListJs.eliminar('+${f.id}+')'">Aceptar</button>
									</div>
								</div>
							</div>
						</div>

						<!-- Modal update-->
						<div class="modal fade" th:id="${'updateModal_'+f.id}"
							tabindex="-1" role="dialog" aria-labelledby="updateModalLabel"
							aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="updateModalLabel">Actualizando
											datos</h5>
										<button type="button" class="close" data-dismiss="modal"
											aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body" style="text-align: left !important;">
										<!-- formulario para update -->
										<form>
											<div class="form-group" style="display: none">
												<label for="fraseId_" class="text-primary">Id</label> <input
													type="text" class="form-control" th:id="${'fraseId_'+f.id}"
													th:value="${f.id}">
											</div>
											<div class="form-group">
												<label for="fraseId" class="text-primary">Frase</label> <input
													type="text" class="form-control" th:id="${'fraseId'+f.id}"
													th:value="${f.frase}">
											</div>
											<div class="form-group">
												<label for="proId" class="text-primary">Pronunciaci&oacute;n</label>
												<input type="text" class="form-control"
													th:id="${'proId'+f.id}" th:value="${f.pronunciacion}">
											</div>
											<div class="form-group">
												<label for="catId" class="text-primary">Categorias</label> <select
													class="form-control form-control-lg"
													th:id="${'catId'+f.id}">
													<option th:text="${f.idCategorias.categoria}"
														th:value="${f.idCategorias.id}"></option>
													<option th:each="cat,iter : ${categorias}"
														th:text="${cat.categoria}" th:value="${cat.id}"></option>
												</select>
											</div>
											<div class="form-group">
												<label th:for="${'traId'+f.id}" class="text-primary">Traducci&oacute;n</label>
												<div class="input-group mb-3">
													<input type="text" class="form-control"
														th:id="${'traId'+f.id}">
													<div class="input-group-append">
														<button type="button" class="btn btn-success"
															th:onclick="'frasesListJs.agregar('+${f.id}+')'">Agregar
															traducci&oacute;n</button>
													</div>
												</div>
											</div>
											<!-- 					<span class="text-secondary">Traducciones:</span> -->
											<ul th:id="${'traducciones'+f.id}">
												<li th:id="${'liE'+iter.index+f.id}"
													th:each="t,iter : ${f.traduccionesList}"
													class='text-success'><span
													th:id="${'span'+iter.index+f.id}"
													class='badge badge-secondary' th:text="${t.traduccion}"></span>
													<span class='badge badge-danger'
													th:onclick="'frasesListJs.quitarDeLista(\''+'liE'+${iter.index}+${f.id}+'\')'">X</span></li>
											</ul>

											<!-- 											<button type="button" class="btn btn-primary" -->
											<!-- 												onclick="addJs.guardar()">Guardar</button> -->
										</form>

									</div>

									<div class="modal-footer">
										<button type="button" class="btn btn-secondary"
											data-dismiss="modal">Cancelar</button>
										<button type="button" class="btn btn-primary"
											th:onclick="'frasesListJs.guardar('+${f.id}+')'">Actualizar</button>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
<!-- 				</div> -->
			</div>
		</div>

	</div>

	<!-- js para eventos -->
	<div layout:fragment="my_js">
		<script th:src="@{/js/frases/frases_list.js}"></script>
	</div>

</body>
</html>